
.login,.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-div ,.signup-div{
    border-radius: 20px;
    border:none;
    padding: 30px;
    background-color: #fcefff;
    margin-bottom: 100px;
}
.signup-div{
    width:70%;
    margin: 30px;
}
.login-div{
  width: 80%; 
  margin: 10%; 
}
.login-div legend,.signup-div legend,.signup-div h3{
    color: #630cbf;;
    padding: 10px;
    font-weight: bold;
    text-align: center;
  
}
.login-div label, .signup-div label {
    display: block;
    margin-bottom: 5px;
    color:#44067b
}
.login-div input[type="text"],
.login-div input[type="password"],
.signup-div input[type="text"],
.signup-div input[type="password"],
.signup-div input[type="email"]
 {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* submit and clear button styling */
.login-div input[type="submit"],
.signup-div input[type="submit"],
.signup-div input[type="reset"] {
    width: 100%;
    padding: 10px;
    margin:10px 10px ;
    background:linear-gradient( #44067b, #08067b);
    color: rgb(136, 241, 241);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.login-div input[type="submit"]:hover,
.signup-div input[type="submit"]:hover,
.signup-div input[type="reset"]:hover {
    color: #9b4ac3;
    transform: translateY(-2px);
}





 
    



