




#feed-posts{
    grid-area: feed-posts;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.posts-background{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "feed-create-post-form"
        "feed-posts";
    gap: 20px;
}

.user-action {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#star-icon:hover , #sendIcon:hover , #submit-btn :hover,
#clear-btn:hover{
    cursor: pointer;
}

#counter {
    margin-left: 10px;
}

.comment {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}



.comment textarea,
#post , #comments-area{
    flex-wrap: wrap;
    border-radius: 5px;
    color: inherit;
    border-color: transparent;
    margin-bottom: 10px;
}




#submit-btn,
#clear-btn,
#like-btn,
#sendIcon {
    background-color: transparent;
    /* color: var(--primary-color); */
    border-radius: 5px;
}

.comments-section{
    align-self: flex-start;
}

