:root {
  /* --rose-main: #be123c;
  --rose-soft: #ffe4e6; */

  --bg: cadetblue;
  /* --text: #881337;
  --color-link: #e11d48; */
/* text color */
--purp: #44067b;
--gray: gray;

}

@media(min-width:1024px){
    .login{
        max-width: 960px;
        margin: 0 auto;
        padding: 32px;
        /* background-color: cadetblue; */
    }
    .logo{
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media(min-width:768px){
    .login{
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 24px;
    }
}

*{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
}

/* try to add more of flexbox and grids  */
/* .header{
    background-color: bisque;
    color: rgb(155, 106, 43);
    margin-top: 5px;
    border-radius: 5px;
    padding: 20px;

} */

body{
    background-color: cadetblue;
    transition: all ease 250ms;
    background: var(--bg);
    margin: 0;
}

.login{
    font-family: 'Times New Roman', Times, serif;
    color:var(--gray);
    background-color: pink;
    margin: 20%;
    padding: 3rem;
    height: auto;
    /* height: 1.5rem; */
    border: 0.04rem solid var(--bg);
    box-shadow: 0 10px 12px var(--gray);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login p{
    color: #44067b;
    font-weight: bold;
    margin-top: 1rem;
    /* height: 1.5rem; */
}

.login form{
    font-weight: bold;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

}


h1,h2,h3{
    margin-bottom: 5rem;
    background-color: cadetblue;
    border-radius: 5px;
    color: rgb(46, 38, 53);
    flex-wrap: nowrap;
}

main{
    background-color: bisque; 
    padding: 50px;
    /* border-color: rgb(160, 99, 8); */
    border-radius: 5px;
}

header{
    padding: 25px;
    margin: 50px; 
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    margin: 0px;
    color: var(--purp);
    background-color: var(--bg);
    width: 100%;
}

header h1{
    margin: 0;
    flex: 1;
    text-align: center;
}

header img{
    display: block;
    max-width: 150px;
    height: auto;
}

section h2 {
    background-color: pink;
    width: 100%;
    display: flex;
    align-items: center;
    columns: var(--purp);
}

.loginHeader{
    color: var(--bg);
    background-color: var(--purp);
    width: 50%;
    border-radius: 0;
    display: block;
    margin: 0;
    border-bottom: 0.5rem solid var(--bg);
    box-shadow: 0 10px 12px var(--gray);
    text-align: center;
}

#profile-create-a-post{
    margin-top: 20px;
    color: cadetblue;
    background-color: bisque;
    padding: 30px;
    flex-direction: row;
    ms-flex-align: center;
}

/*loging fieldset styling */
.login_fieldset {
    border: 2px solid #abe9fc;
    border-radius: 20px;
    padding: 30px;
    width: 550px;
    background-color: #fcefff;
    margin-bottom: 100px;
}

/* loging fieldset legend styling */
.login_fieldset legend {
    font-size: 1.2em;
    color: #44067b;
    padding: 10px;
}

/* loging fieldset labels styling */
.login_fieldset label {
    display: block;
    margin-bottom: 5px;
    color: #44067b;
}

/* login input stylig */
.login_fieldset input[type="text"],
.login_fieldset input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* login submit button styling */
.login_fieldset input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin:10px 10px ;
    background-color: #44067b;
    color: rgb(136, 241, 241);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login h5 {
    color: #44067b;
}

/* logo styling */
.logo {
    display: block;
    width: 300px;
    margin: 20px auto;
    /* margin-bottom: 0px; */
}

/* page background color in login page */
body {
    background-color: #ecf7f7;

}


button{
    border-radius: 5px;
    color:rgb(46, 38, 53) ;
    background-color: bisque;
}

/* footer{
    padding: 1rem 1rem;
    height: 0.1rem;
    color:var(--bg);
    text-align: center;
} */





