/* this file contain the main features of Flow websit */
:root {
    --color-primary: #00e6d7;
    --color-primary-dark: #48a39d;
    --color-secodary: #630cbf;
    --color-text: #333333;
    --color-bg: linear-gradient(#00e6d7, #630cbf);
    --color-feed-bg: #fcefff;
    --color-button: #08067b;

    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.12);

    --radius-sm: 4px;
    --radius-md: 8px;

}

* {
    box-sizing: border-box;

}


.post>*{
    margin: 0;
}

.post h4{
    color: #555;
    font-size: 14px;
    font-weight: bold;
}

.post p{
    color: black;
    line-height: 1.4;
}
/* always start by the modile display , then override it for larger screens like desktop */

.posts-background {
    border-radius: 10px;
    padding: 30px;
    background-color: var(--color-feed-bg);
    margin: 40px auto 100px auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap:20px;
}

.posts-background:has(#profile-mod){
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "profile-mod"
    "profile-create-post";
    background-color: white;


}
    

/* tablet screen */
@media(min-width:768px) {

    .login{
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 24px;
    }

    /* .signup{
        flex-direction: column;
        justify-content: space-between;
        padding: 16px 24px;
    } */


    .post {
        width: 100%;
        padding: 15px;
        border-radius: 12px;
        border: 2px solid white;
        background-color: bisque;

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .posts-background:has(.posts-background:has(#profile-mod)){
        margin: 1rem;
    }


    .user-action {
        width: 90%;
        gap: 15px;
    }

    .comment textarea {
        width: 350px;
    }



}



/* desktop screen */
@media(min-width:1024px) {

    .login
    /* ,.signup*/{
        max-width: 960px;
        margin: 0 auto;
        padding: 32px;
        display: flex;
        justify-content: center;
    }


    .post{
        width: 500px;
        margin: 20px auto;
    }

    .user-action {
        width: 500px;
        gap: 20px;
    }
    
    #comments-area {
        width: 600px;
    
    }

    .posts-background:has(#profile-mod){
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
            "profile-mod profile-create-post";
    }
}




body {
    display: flex;
    flex-direction: column;
    transition: all ease 250ms;
    color: var(--color-text);
    background:var(--color-bg);
    font-size: 1.3em;
    min-height: 100vh;
    margin: 0;
}

/* main {
    flex: 1;
} */

.header,
.footer {
    background-color:var(--color-primary);
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 20px;
    width: 100%;
    height: 70px;

}


.header img {
    width: 300px;
    justify-content: flex-start;
}


.nav,
.footer {
    display: flex;
    gap: 20px;
}

.nav a,
.footer a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s ease;
    padding: 8px 15px;
}

.nav a[href="signup.html"],
a[href="login.html"],
.footer a[href="signup.html"],
a[href="login.html"] {
    background-color: var(--color-secodary);
    color: var(--color-primary);
    border-radius: 5px;
}

.nav a:hover,
.footer a:hover {
    color: #3f055b;
    transform: translateY(-2px);
}

.post-card{
    width: 100%;
    margin: 0;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid white;
    align-items: stretch;
}



.post-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.85em;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
}


#feed-create-post-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-bottom: 20px;
    grid-area:  feed-create-post-form;
}


#feed-post-input{
    width: 100%;
    min-height: 80px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #bab6b6;
    resize: vertical;
}


#feed-posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.user-action {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#star-icon:hover , #sendIcon:hover , #submit-btn :hover,
#clear-btn:hover{
    cursor: pointer;
}

#counter {
    margin-left: 10px;
}

.comment {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}



.comment textarea,
#post , #comments-area{
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 10px;
}



#submit-btn,
#clear-btn,
#like-btn,
#sendIcon {
    background-color: transparent;
    /* color: var(--primary-color); */
    border-color: inherit;
    border-radius: 5px;
}

.comments-section{
    align-self: flex-start;
}
