.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
}

#profile-mod{
    width: 400px;
    margin: 30px;
    /* padding: 20px; */
    padding: 60px ;
    align-items:start;

    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid rgb(248, 219, 241);

    font-size: small;
}

#profile-mod:hover{
    transform: translateY(-3px);
}

#profile-create-post{
    padding: 30px;
    margin: 20px;
    background-color: antiquewhite;

    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(248, 219, 241);

}
.header a{
    background-color: var(--color-secodary);
    color: var(--color-primary);
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease;
    padding: 8px 15px;
    font-weight: bold;
      
}
.header a:hover{
    color: #3f055b;
    transform: translateY(-2px);
}