*{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
}


/* try to add more of flexbox and grids  */
.header{
    background-color: bisque;
    color: rgb(155, 106, 43);
    margin-top: 5px;
    border-radius: 5px;
    padding: 20px;

}

body{
    background-color: cadetblue;
}

#create-a-post{
    margin-top: 20px;
    color: cadetblue;
    background-color: bisque;
    padding: 30px;
    flex-direction: row;
    ms-flex-align: center;
}
